<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/39/39460.png" sizes="32x32">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <title>Chat (EL OTRO USUARIO)</title>
    
</head>

<script>
    
    var socket = io.connect('http://localhost:3000');
    
    socket.on('message', function(msg){
        var newRow = `<div class="row my-sm-3 mx-sm-3">
            <h6 id="mensajechat1" class="col-8"><p>El otro: </p><p>`+msg.mensaje+`</p></h6>
        </div>`
        
        $('#messages').append(newRow);
    });
</script>

<body id="body">
    
    <!-- Navbar -->  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="<%='/posts'%>">
            <img src="/images/fondo/logoblanco.png" alt="Logo" width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#LoginContent" aria-controls="LoginContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="LoginContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" id="nav-link" href="<%='/posts'%>">Publicaciones</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="nav-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tecnicos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="<%='/serviceman/Electricista'%>">Electricista</a>
                        <a class="dropdown-item" href="<%='/serviceman/Mecanico automotriz'%>">Mecanico automotriz</a>
                        <a class="dropdown-item" href="<%='/serviceman/Mecanico de motos'%>">Mecanico de motos</a>
                        <a class="dropdown-item" href="<%='/serviceman/Carpintero'%>">Carpintero</a>
                        <a class="dropdown-item" href="<%='/serviceman/Tecnico en sistemas'%>">Tecnico en sistemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="<%='/messages/'%><%= user.idUsuario %>">Mis mensajes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="<%='/profile/'%><%= user.idUsuario %>"><%= user.nombre %> <%= user.apellido %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-link" href="<%='/logout'%>">Cerrar Sesion</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        
        <div class="container">
            <% if(locals.error) {%>
                
                <div class="row mt-sm-3 rounded" id="row">
                    <div class="col">
                        <div class="row my-sm-3 mx-sm-3 text-center">
                            <h5 class="col "><p><%= error %></p></h5>
                        </div>
                        <hr>
                    </div>
                </div> 
                <% } else {%>
                    <div class="row mt-sm-3 rounded" id="row">
                        <div id="messages" class="col">
                            <% var j = 0; while(j<mensajes.length){ %>
                                <% if(user.idUsuario != mensajes[j].idUsuarioUno){ %>
                                    <div class="row rounded" id="titulochat">
                                        
                                        <div class="col-10">
                                            <h5 class="mt-sm-3 mx-sm-3"><%= mensajes[j].nombreuno %> <%= mensajes[j].apellidouno %>: </h5>
                                        </div>
                                        <div class="col-2">   
                                            <a id="bajar" href="#formulario"><p class="mt-sm-3"> Bajar Chat </p></a>
                                        </div>
                                        
                                        
                                    </div>
                                    <% j = mensajes.length + 1; %>
                                    <% } %>
                                    <% j = j+1; %>
                                    <% } %>
                                    <% for(var i=0; i<mensajes.length; i++) { %> 
                                        <% if(mensajes[i].idUsuarioUno != user.idUsuario) {%>
                                            <div class="row my-sm-3 mx-sm-3">
                                                <h6 id="mensajechat1" class="col-8 rounded-right"><p><%= mensajes[i].nombreuno %> <%= mensajes[i].apellidouno %>: </p><p><%= mensajes[i].mensaje %></p></h6>
                                            </div>
                                            <hr>
                                            <% } else {%>
                                                <div class="row my-sm-3 mx-sm-3">
                                                    <h6 id="mensajechat1" class="ml-auto col-8 rounded-left"><p>Tu: </p><p><%= mensajes[i].mensaje %></p></h6>
                                                </div>
                                                <hr>
                                                <% } %>
                                                <% } %>
                                            </div>
                                        </div> 
                                        <% } %>
                                        
                                        <div class="row mt-sm-3 rounded" id="row1">
                                            <div class="col">
                                                <form class="form-group row" action="/message" method="POST" id="formulario">
                                                    <div class="col-10">
                                                        <textarea class="form-control mx-sm-1 mt-sm-4" name="mensaje" id="" rows="3" cols="130"></textarea>
                                                        <input type="hidden" value="<%= locals.destino %>" name="id_destino">
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="submit" class="btn btn-info mt-sm-5">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>  
                                        
                                    </div>
                                    
                                    <footer class="footer mt-sm-5 text-center" id="footer">
                                        <h4 class="align-middle my-auto" id="footertext">&copy; Sitio hecho por ASK | <a class="my-auto" id="footertext" href="https://www.facebook.com/pg/Easy-Fix-Colombia-105766757861344/reviews/" target="_blank">Visitanos en facebook</a></h4>
                                    </footer>
                                    
                                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
                                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
                                    <style>
                                        #body{
                                            background: url(/images/fondo/fondo.jpg);
                                        }
                                        #titulo{
                                            color: black;
                                        }
                                        #row{
                                            background-color:rgba(207, 205, 205, 0.74); 
                                            max-height: auto;
                                            min-height: 500px;
                                        }
                                        #row1{
                                            background-color:rgba(207, 205, 205, 0.74); 
                                            min-height: 100px;
                                        }
                                        #col{
                                            min-height: auto;
                                            max-height: auto;
                                        }
                                        #nav-link{
                                            color: rgb(240, 240, 240); 
                                        }
                                        #fotousuario{
                                            height: 80px; 
                                            width: 80px;
                                        }
                                        #fotousuariologueado{
                                            height: 200px; 
                                            width: 200px;
                                        }
                                        #titulochat{
                                            background-color: rgb(27, 27, 27);
                                            color: rgb(248, 242, 230);
                                            height: 60px;
                                        }
                                        #bajar{
                                            
                                            color: rgb(248, 242, 230);
                                            max-height: auto;
                                        }
                                        #mensajechat1{
                                            background-color: rgb(114, 159, 219);
                                            color: rgb(0, 0, 0);
                                            max-height: auto;
                                        }
                                        #footer{
                                            height: 90px;
                                            padding-top: 20px;
                                            background-color: rgb(29, 29, 29);
                                        }
                                        #footertext{
                                            color: blanchedalmond;
                                        }
                                    </style>
                                </body>
                                </html> 